.jumbotron {
    margin-top: 50px;
    background-color: yellow;
    color: black;
}

.card-hotel {
    flex: 1 200px;
    justify-content: space-between;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}
